<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    <!--<link rel="stylesheet" type="text/css" href="estilos.css">-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/bienvenida">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
        </nav>
        <div id="texto" class="alert alert-success" role="alert">
            Edite el contenido
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/Escudo_UD.png" class="card-img-top" alt="Descripción de la imagen">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Este es el escudo de la universidad Distrital Francisco José de Caldas.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        <button type="button" class="btn btn-secondary" onclick="cambiarColor()">Agregar coloe</button>
        <button type="button" class="btn btn-secondary" onclick="removercolor()">Remover Color</button>
    </body>

    <script>
        function cambiarColor() {
            var divtxt = document.getElementById("texto");
            //divtxt.classList.add("colortexto");
            divtxt.setAttribute("style", "color: rgb(0, 255, 145); background-color: rgb(255, 255, 255);");
        }
        function removercolor() {
            var divtxt = document.getElementById("texto");
            //divtxt.classList.remove("colortexto");
            divtxt.removeAttribute("style");
        }
    </script>
</html>