<html>
    <!--Esto es un comentario en un lenguaje HTML-->
    <head>
    <!--Esta sección contiene informacón general de la página-->
        <title>Mi pagina de emjemplo</title>
    </head>  
    <body>
        <!--Lo que va a mostrar en la pagina-->
<body>
    <!--Agregue doble llave para indicar que es una varible 
    externa o una estructura de control de flujo-->
    <h3>Mi nombre es {{Nombre_variable_mostrar[0]}}</h3>
    <h3>Mi Apellido es {{Nombre_variable_mostrar[1]}}</h3>
    <h3>Mi Cargo es {{Nombre_variable_mostrar[2]}}</h3>
    </body>
</html>

