            .parrafo {
                color: blue;
                font-size: 20px;
            }
            #otroParrafo {
                color: red;
                font-size: 16px;
            }